* {
    box-sizing: border-box;
}

#headerCanvas{
    background: green;
    height: 10%;
}

#container{
    background: blue;
}

#mainCanvas{
    background: #012279;
}

#sidebarCanvas{
    background: darkblue;
}

#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90%;
}

#container{
    display: flex;
    flex-wrap: wrap;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}
